/*
 * Variables
*/

/// color
$dark: #000000;
$light: rgb(255, 255, 255);
$brand-color1: rgb(255, 253, 241);
$brand-color2: #CCAC54;
$footer: rgb(23, 28, 31);
$transparent: rgba(0, 0, 0, 0.82);

/// sizes
$mobile: 600px;
$tablet: 1024px;
$space: 20px;
